@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.login-background {
    width: 100vw;
    height: 100vh;
    background: #E9DFC4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    width: 420px;
    padding: 35px;
    background: #F7F1E3;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.titleBox {
    text-align: center;
    margin-bottom: 18px;
}

.paw {
    font-size: 28px;
    margin-bottom: -10px;
}

.titleBox h1 {
    margin: 0;
    font-size: 30px;
    color: #2F6F4F;
    font-weight: 700;
}

.titleBox p {
    margin: 0;
    font-size: 15px;
    color: #3f3f3f;
}

.underline {
    width: 85px;
    height: 4px;
    background: #2F6F4F;
    border-radius: 999px;
    margin: 12px auto 24px auto;
}

.title {
    font-size: 28px;
    color: #2F6F4F;
    margin-bottom: 5px;
    font-weight: 700;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: #3f3f3f;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ;
}
.input-group {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-content: left;
}

.input-group label {
    font-weight: 600;
    color: #2F6F4F;
    margin-bottom: 14px;
}

.input-group input {
    border: 1px solid #cfcfcf;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background: #fefcf5;
    padding: 0 12px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.input-error {
    margin-top: 6px;
    background: #C25252;
    color: #fff;
    padding: 6px 14px;
    border-radius: 40px;     
    font-size: 13px;
    width: fit-content;
    display: none;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to   { opacity: 1; transform: translateY(0); }
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
}

.check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.options p{
    color: #2F6F4F;
    margin-top: 0px;
    font-size: 13px;
    text-decoration: none;
}

.register-link {
    color: #2F6F4F;
    text-decoration: none;
    font-weight: 600;
}
.btn-login {
    width: 100%;
    background-color: #2F6F4F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #234e37;
}


input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #2F6F4F;
    border-radius: 4px;
    border: 1.5px solid #2F6F4F;
    background: #fff;
    
    cursor: pointer;
}
